<footer th:fragment="site-footer" xmlns:th="http://www.w3.org/1999/xhtml" id="contact">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h4>ShopStyle</h4>
                <p>Votre destination shopping en ligne de confiance depuis 2020</p>
            </div>
            <div class="footer-col">
                <h4>Liens Rapides</h4>
                <ul>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Livraison</a></li>
                    <li><a href="#">Retours</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Service Client</h4>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Suivi commande</a></li>
                    <li><a href="#">Conditions</a></li>
                    <li><a href="#">Confidentialité</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Suivez-nous</h4>
                <div class="social-links">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 ShopStyle. Tous droits réservés.</p>
        </div>
    </div>
</footer>
